.container {
  border: 1px solid lightblue;
   
  display: grid;
  place-items: center;
  background-color: #128CFC; 
  margin-top: 10px;
}

.items {
  width: 100%;
  background: #fffffe;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
}

.items-head p{
  padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 20px;
  color: #5193FC;
  border-bottom: 1px solid #5193FC;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid #0B5AA2;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  align-items: start;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid #0B5AA2;
  background-color: #82B2FC !important;
  color: #FFFFFF;
}

.items-body-content:nth-child( odd ){
	background-color: #f3f1f1;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: #0B5AA2;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}